apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  labels:
    app: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-image
          emptyDir: {}
      containers:
        - name: log-output
          image: turtvaiz/log-output:1.10
          volumeMounts:
            - name: shared-image
              mountPath: /app/files
        - name: log-output-timer
          image: turtvaiz/log-output-timer:1.10
          volumeMounts:
            - name: shared-image
              mountPath: /app/files
   