apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
  labels:
    app: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: turtvaiz/todo-app:2.6
          volumeMounts:
            - mountPath: /app/cache
              name: img-vol
          env:
            - name: BACKEND_URL
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: BACKEND_URL
            - name: PICSUM_URL
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: PICSUM_URL
      volumes:
        - name: img-vol
          emptyDir: {}
      
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  labels:
    app: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: turtvaiz/todo-app:be-2.6