<!DOCTYPE html>
<html lang="en">
<head>
    <title>The project App</title>
</head>
<body>
    <h1>The project App</h1>
    <img src="data:image/jpg;base64,{{image_data | safe}}" />

    <form method="post" action="/todos">
        <input type="text" id="content" name="content" maxlength="140" required>
        <input type="submit" value="Create todo">
    </form>

    <ul>
        {% for todo in todos %}
        <li>{{todo}}</li>
        {% endfor %}
    </ul>


    <p>DevOps with Kubernetes 2026</p>
</body>
</html>