<!DOCTYPE html>
<html lang="en">
<head>
    <title>The project App</title>
</head>
<body>
    <h1>The project App</h1>
    <img src="data:image/jpg;base64,{{image_data | safe}}" />

    <form method="post" action="/todo">
        <input type="text" id="content" maxlength="140">
        <input type="submit" value="Create todo">
    </form>

    <ul>
        <li>Learn JavaScript</li>
        <li>Learn React</li>
        <li>Build a project</li>
    </ul>


    <p>DevOps with Kubernetes 2026</p>
</body>
</html>